.App {
    text-align: center;
}

.App-header {
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: linear-gradient(to bottom, black, blue)
}

.Component {
    border-radius: 25px;
    border: 2px solid #001b4a;
    background: moccasin;
    width: 333px;
    height: 250px;
    margin: 5px;
    place-self: center;
}

.container {
    padding: 10px;
    height: 90%;
    display: grid;
    grid-template-columns: 358px 358px 358px 358px 358px;
    justify-items: center;
    place-items: center;
}

#root {
    height: 100%;
    width: 100%;
}

body, html {
    height: 100%;

    background-image: linear-gradient(blue, burlywood);
}
